@page "/"

@using TodoList_Blazor.Services
@using Microsoft.AspNetCore.Authorization

@* Inject RoleHandler *@
@inject RoleHandler _roleHandler;
@inject IServiceProvider _serviceProvider;

@attribute [Authorize(Policy = "AuthenticatedUser")]
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Home</PageTitle>

<AuthorizeView role="Admin">

	<Authorized>
		<h1>Hello, Admin!</h1>

		Welcome to your new app.
	</Authorized>

	<NotAuthorized>
		<h1>Not Authorized</h1>
	</NotAuthorized>

</AuthorizeView>



@code {
	// protected override async Task OnInitializedAsync()
	// {
	// 	await _roleHandler.CreateUserRole("local@gmail.com", "admin", _serviceProvider);
	// }
}